.character-image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.character-name {
	margin-top: 5px;
}

.character-info {
	flex-direction: row;
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.details {
	justify-content: center;
	text-align: left;
	margin: 20px;
	display: flex;
}